@import '../../styles/variables';

.container {
    background-color: $background;
    padding-bottom: 15px;
    min-height: 75vh;
    .title {
        font-size: 1em;
        padding: 10px;
        font-weight: 400;
    }
    .products {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .alert {
        text-align: center;
        h2 {
            padding-top: 20px;
            font-size: 1.3em;
        }
    }
}

@media screen and (min-width: 1250px) {
    .container {
        padding: 0 10%;
    }
}