.container {
    background-color: #dbdbdb;
    padding-bottom: 15px;
    .title {
        font-size: 1em;
        padding: 10px;
        font-weight: 400;
    }
    .products {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}