.button {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    transition: 0.7s;
    &:hover {
        background-color: #0571ff;
        color: white;
        border-color: rgb(33, 71, 88);
    }
}