.container {
    background-color: #dbdbdb;
    padding-bottom: 20px;
    min-height: 75vh;
    .title {
        font-size: 1em;
        padding: 10px;
        font-weight: 400;
    }
    .total {
        padding-top: 15px;
        display: flex;
        justify-content: center;
        h2{
            font-size: 1.1em;
            font-weight: 600;
            padding-right: 10px;
        }
        p {
            font-size: 1em;
        }
    }
    .button {
        padding: 10px 0;
        text-align: center;
    }
    .alert {
        text-align: center;
        h2 {
            margin: 5px;
            font-size: 1em;
            color: #26ae11;
        }
        p {
            font-size: 0.8em;
        }
    }
}