.container {
    margin: 5px;
    background-color: #ffffff;
    border-radius: 10px;
    width: 250px;
    height: 350px;
    cursor: pointer;
    .image {
        width: 250px;
        height: 220px;
        display: flex;
        align-items: center;
        overflow: hidden;
        display: flex;
        justify-content: center;
        img {
            width: 65%;
        }
    }
    .text {
        padding: 0 15px;
        h2 {
            font-size: 0.8em;
        }
        .price {
            grid-template-columns: auto 1.5fr;
            margin: 10px 0;
            h1 {
                font-size: 1.5em;
                display: inline;
            }
            p {
                position: relative;
                display: inline;
                bottom: 10px;
                color: #000000;
                font-weight: 400;
            }
            .slice {
                margin-top: 5px;
                font-size: 0.8em;
                color: #000000;
                font-weight: 400;
            }
        }
        p {
            font-size: 0.8em;
            color: #00A650;
            font-weight: 600;
        }
    }
}