.container {
    height: 40px;
    background-color: rgb(0, 109, 160);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2px 0 10px;
    .burguer {
        font-size: 1.5em;
        fill: white;
    }
    .cart_container {
        display: flex;
        .cart {
            font-size: 1.5em;
            fill: white;
        }
        .cart_number {
            color: #ffffff;
            font-size: 0.6em;
            font-weight: 600;
            z-index: 2;
        }
        .cart_back {
            position: relative;
            top: -1.5px;
            left: -13px;
            background: red;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            z-index: 1;
        }
    }
    .links {
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: rgba($color: #000000, $alpha: 0.6);
        width: 25%;
        height: 100vh;
        position: absolute; 
        top: 40px;
        left: -50vw;
        transition: 0.5s;
        .link {
            text-decoration: none;
            color: white;
            font-size: 1em;
            padding: 10px 0;
            &::before {
                font-size: 1em;
                content: '\2E30';
            }

        }
    }
}
 

@media screen and (min-width: 500px) {
    .container {
        display: grid;
        grid: "burg menu cart";
        grid-template-columns: 1% 90% 9%;
        padding: 0 10px;
        .burguer {
            grid-area: burg;
            display: none;
        }
        .cart_container {
            grid-area: cart;
            margin: 0 0 0 auto;
            .cart {
            }
        }
        .links {
            grid-area: menu;
            display: flex;
            flex-direction: row;
            justify-content: center;
            background-color: transparent;
            align-items: center;
            padding: 0;
            width: 100%;
            height: 20px;
            position: initial;
            transition: 0s;
            .link {
                padding: 0 20px;
            }
        }
    }

}
