.container {
    height: 80px;
    background-color: rgb(171, 179, 179);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        img {
            height: 30px;
            padding-right: 5px;
        }
        h1 {
            font-size: 1em;
        }
    }
    .search {
        display: flex;
        h1 {

        }
        input {
            border-radius: 5px;
            width: 120px;
        }
    }
}
.imgContainer {
    background-color: rgb(171, 179, 179);
    img {
        width: 100%;
    }
}