@import '../../../styles/variables';

.item {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    background-color: $white;
    box-sizing: border-box;
    margin: 5px 0;
    border-radius: 10px;
    .image {
        width: 35%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            height: 90%;
        }
    }
    .text {
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-right: 5px;
        h2 {
            font-size: 0.8em;
        }
        .price {
            h1 {
                font-size: 1em;
            }
            p {
                font-size: 0.9em;
            }
        }
    }
}

@media screen and (min-width: 1250px) {
    .item {
        width: 80%;
        height: 80px;
        background-color: $white;
        box-sizing: border-box;
        margin: 5px 0;
        .image {
            width: 35%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                height: 90%;
            }
        }
        .text {
            width: 65%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin-right: 5px;
            h2 {
                font-size: 0.8em;
            }
            .price {
                h1 {
                    font-size: 1em;
                }
                p {
                    font-size: 0.9em;
                }
            }
        }
    }
}